$screen_width: 1440;
$container_width: 1290;

@mixin adaptive_size320($property, $font_in_current_scale, $font_in_the_smallest_screen, $type){
    $additional_size: $font_in_current_scale - $font_in_the_smallest_screen;
    @if $type == 1{
// только уменьшение при уменьшении экрана.
        #{$property}: $font_in_current_scale + px;
        @media (max-width: #{$container_width + px}){
            #{$property}: calc(#{$font_in_the_smallest_screen + px} + #{$additional_size} * ((100vw - 320px) / #{$container_width - 320}));
        }
    } @else if $type == 2{
// только увеличение при увеличении экрана.
        #{$property}: $font_in_current_scale + px;
        @media (min-width: #{$screen_width + px}){
            #{$property}: calc(#{$font_in_the_smallest_screen + px} + #{$additional_size} * ((100vw - 320px) / #{$screen_width - 320}));
        }
    } @else{
// всегда будет изменяться пропорционально ширине экрана.
        #{$property}: calc(#{$font_in_the_smallest_screen + px} + #{$additional_size} * ((100vw - 320px) / #{$screen_width - 320}));
    }
}

@mixin adaptive_size768($property, $font_in_current_scale, $font_in_the_smallest_screen, $type){
    $additional_size: $font_in_current_scale - $font_in_the_smallest_screen;
    @if $type == 1{
// только уменьшение при уменьшении экрана.
        #{$property}: $font_in_current_scale + px;
        @media (max-width: #{$container_width + px}){
            #{$property}: calc(#{$font_in_the_smallest_screen + px} + #{$additional_size} * ((100vw - 768px) / #{$container_width - 320}));
        }
    } @else if $type == 2{
// только увеличение при увеличении экрана.
        #{$property}: $font_in_current_scale + px;
        @media (min-width: #{$screen_width + px}){
            #{$property}: calc(#{$font_in_the_smallest_screen + px} + #{$additional_size} * ((100vw - 768px) / #{$screen_width - 320}));
        }
    } @else{
// всегда будет изменяться пропорционально ширине экрана.
        #{$property}: calc(#{$font_in_the_smallest_screen + px} + #{$additional_size} * ((100vw - 768px) / #{$screen_width - 320}));
    }
}

@mixin adaptive_size_width($property, $font_in_current_scale, $font_in_the_smallest_screen, $min_width, $type){
    $additional_size: $font_in_current_scale - $font_in_the_smallest_screen;
    @if $type == 1{
// только уменьшение при уменьшении экрана.
        #{$property}: $font_in_current_scale + px;
        @media (max-width: #{$container_width + px}){
            #{$property}: calc(#{$font_in_the_smallest_screen + px} + #{$additional_size} * ((100vw - #{$min_width + px}) / #{$container_width - $min_width}));
        }
    } @else if $type == 2{
// только увеличение при увеличении экрана.
        #{$property}: $font_in_current_scale + px;
        @media (min-width: #{$screen_width + px}){
            #{$property}: calc(#{$font_in_the_smallest_screen + px} + #{$additional_size} * ((100vw - #{$min_width + px}) / #{$screen_width - $min_width}));
        }
    } @else{
// всегда будет изменяться пропорционально ширине экрана.
        #{$property}: calc(#{$font_in_the_smallest_screen + px} + #{$additional_size} * ((100vw - #{$min_width + px}) / #{$screen_width - $min_width}));
    }
}

@mixin adaptive_padding($height_in_current_scale, $width_in_current_scale, $height_in_the_smallest_screen, $width_in_the_smallest_screen, $type){
    $additional_height_size: $height_in_current_scale - $height_in_the_smallest_screen;
    $additional_width_size: $width_in_current_scale - $width_in_the_smallest_screen;
    @if $type == 1{
// только уменьшение при уменьшении экрана.
        padding: $height_in_current_scale + px $width_in_current_scale + px;
        @media (max-width: #{$container_width + px}){
            padding: calc(#{$height_in_the_smallest_screen + px} + #{$additional_height_size} * ((100vw - 320px) / #{$container_width - 320})) calc(#{$width_in_the_smallest_screen + px} + #{$additional_width_size} * ((100vw - 320px) / #{$container_width - 320}));
        }
    } @else if $type == 2{
// только увеличение при увеличении экрана.
        padding: $height_in_current_scale + px $width_in_current_scale + px;
        @media (min-width: #{$screen_width + px}){
            padding: calc(#{$height_in_the_smallest_screen + px} + #{$additional_height_size} * ((100vw - 320px) / #{$screen_width - 320})) calc(#{$height_in_the_smallest_screen + px} + #{$additional_width_size} * ((100vw - 320px) / #{$screen_width - 320}));
        }
    } @else{
// всегда будет изменяться пропорционально ширине экрана.
        padding: calc(#{$height_in_the_smallest_screen + px} + #{$additional_height_size} * ((100vw - 320px) / #{$screen_width - 320})) calc(#{$width_in_the_smallest_screen + px} + #{$additional_width_size} * ((100vw - 320px) / #{$screen_width - 320}));
    }
}

@mixin adaptive_margin($height_in_current_scale, $width_in_current_scale, $height_in_the_smallest_screen, $width_in_the_smallest_screen, $type){
    $additional_height_size: $height_in_current_scale - $height_in_the_smallest_screen;
    $additional_width_size: $width_in_current_scale - $width_in_the_smallest_screen;
    @if $type == 1{
// только уменьшение при уменьшении экрана.
        margin: $height_in_current_scale + px $width_in_current_scale + px;
        @media (max-width: #{$container_width + px}){
            padding: calc(#{$height_in_the_smallest_screen + px} + #{$additional_height_size} * ((100vw - 320px) / #{$container_width - 320})) calc(#{$width_in_the_smallest_screen + px} + #{$additional_width_size} * ((100vw - 320px) / #{$container_width - 320}));
        }
    } @else if $type == 2{
// только увеличение при увеличении экрана.
        margin: $height_in_current_scale + px $width_in_current_scale + px;
        @media (min-width: #{$screen_width + px}){
            padding: calc(#{$height_in_the_smallest_screen + px} + #{$additional_height_size} * ((100vw - 320px) / #{$screen_width - 320})) calc(#{$height_in_the_smallest_screen + px} + #{$additional_width_size} * ((100vw - 320px) / #{$screen_width - 320}));
        }
    } @else{
// всегда будет изменяться пропорционально ширине экрана.
        margin: calc(#{$height_in_the_smallest_screen + px} + #{$additional_height_size} * ((100vw - 320px) / #{$screen_width - 320})) calc(#{$width_in_the_smallest_screen + px} + #{$additional_width_size} * ((100vw - 320px) / #{$screen_width - 320}));
    }
}