/*----------------------Медиазапросы------------------------------------------------------------------------------------------------------------------------------------------------*/
/*Писать сразу после описания стиля.*/
.container{font-size: 20px;}
@media (max-width: 900px){
	.container{
		font-size: 10px;
	}
}
/*Для уменьшения padding, font-size, margin и т.д. при уменьшении ширины экрана(там, где есть ограничивающий контейнер).*/
@media(max-width: 1200px){ /*1200 - значение ширины контейнера. */
	.block_body{
		padding: calc(20px + (50 - 20) * ((100vw - 320px) / (1200 - 320)));  /*20 - значение, которое хотим увидеть на мобильных устройствах, 50 - значение для этой ширины.*/
	}
}
/*Когда нет ограничивающего контейнера.*/
.container{
/*	убрать 'max-width'.*/
}
.block_body{
	padding: calc(20px + (50 - 20) * ((100vw - 320px) / (1600 - 320))); /*1600 - ширина экрана в макете для указания правильных пропорций, 50 - нужный размер на этой ширине,
																																																			   20 - на мобилке.*/
}
.block_title{
	font-size: calc(20px + (50 - 20) * ((100vw - 320px) / (1600 - 320)));
	margin-bottom: calc(20px + (50 - 20) * ((100vw - 320px) / (1600 - 320)));;
}

/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
