/*----------------------Свойства Background-----------------------------------------------------------------------------------------------------------------------------------------*/
.bg{
/*Цвет*/
	background: rgba(129, 45, 211, 1); /*1 - прозрачность.*/

/*Картинка задним фоном, будет повторяться.*/
	background: url('../img/Kaneki.Ken.full.1906053.jpg');
	background: url('../img/Kaneki.Ken.full.1906053.jpg'), url('../img/Kaneki.Ken.full.1906053.jpg'); /*картинка заднего фона должна быть последней.*/
	background: transparent; /*устанавливает фон прозрачным(полезно для input).*/

/*Повторение.*/
	background-repeat: repeat; /*по умолчанию, пока не заполнит область.*/
	background-repeat: no-repeat; /*не повторяется.*/
	background-repeat: repeat-x; /*по оси x.*/
	background-repeat: repeat-y; /*по оси y.*/

/*Расположение картинки.*/
	background-position: left;
	background-position: right;
	background-position: center;
	background-position: bottom right;

/*Фон при скролле.*/
	background-attachment: fixed; /*будет зафиксировано относительно всей страницы браузера, а не своего блока*/

/*Растягивание.*/
	background-size: 100%; /*по ширине.*/
	background-size: auto 100%; /*по высоте.*/
	background-size: 300px 500px; /*точно.*/
	background-size: contain; /*по меньшей стороне.*/
	background-size: cover; /*масштабирает с сохранением пропорций по размеру блока. */
}


/*Добавить к списку значки - на 'li' нужно добавить картинку через background, добавить 'padding: 0px 0px 0px 30px'.*/
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*Сделать картинку адаптивной(контентной части) */
img{
	max-width: 100%; /*работает даже если несколько картинок в ряд.*/
}

/* Несколько картинок в ряд. */
img{
	object-fit: fill; /*заполняет сохраняя свою ширину и высоту.*/
	object-fit: none; /*заполнят родителя, но размер не изменится(обрежется).*/
	object-fit: cover; /*используется чаще всего, подстраивается под родителя и идеально масштабирается.*/
	object-position: left top; /*как для background.*/

	/*можно лучше: */
	/*родителю: position: relative, padding: 0px 0px 58% 0px, width: 33%*/
	/*картинке: */
	position: absolute;
	object-fit: cover;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}