/*----------------------Стили шрифта и текста---------------------------------------------------------------------------------------------------------------------------------------*/
.text_class{
/*Шрифт.*/
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

/*Размер.*/
	font-size: 15px;

/*Толщина.*/
	font-weight: 600;

/*Начертание.*/
	font-style: normal; /*обычное*/
	font-style: italic; /*курсивное*/
	font-style: oblique 40deg; /*наклонное*/

/*Цвет.*/
	color: #f00f00; /*популярный вид записи.*/

/*Выравнивание*/
	text-align: right;
	text-align: left;
	text-align: center;
	text-align: justify; /*расстягивает по всей ширине окна.*/

/*Оформление*/
	text-decoration: underline; /*подчеркивание под текстом.*/
	text-decoration: overline; /*подчеркивание над текстом.*/
	text-decoration: line-through; /*подчеркивание по середине текста.*/
	text-decoration: none; /*убирает эффекты подчеркивания.*/

/*Тень.*/
	text-shadow: 1px 1px 1px #000000; /*(горизонталь, вертикаль, размытие, цвет).*/

/*Стиль написания*/
	text-transform: capitalize; /*все слова с заглавной.*/
	text-transform: lowercase;
	text-transform: uppercase;
	text-transform: none;

/*Отступ начала главы.*/
	text-indent: 50px;

/*Отступы между буквами.*/
	letter-spacing: 5px; 

/*Отступы между словами.*/
	word-spacing: 10px;

/*Перенос текста*/
	white-space: nowrap; /*текст выстраивается в ровные линии.*/
	white-space: normal; /*обычный перенос.*/

/*Отступы между строками.*/
	line-height: 20px;
}
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/