.item__video{
    position: relative;
    margin: 0px 0px 15px 0px;
    /* aspect-ratio: 16 / 9; соотношение сторон для видео(работает только в хроме). */
    padding: 0px 0px 56% 0px;
 }
 
 .item__video video{
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
 }
 /* чтобы вставить видео из youtube нужно нажать на поделиться -> встроить -> скопировать и вставить на место видео iframe и убрать его ширину и высоту. */
 /* чтобы сделать видео фоном, нужно его вставить в полноэкранный блок, сделать абсолют, все по 100%, а на блок с контентом навесить relative и z-index: 2. */