/*----------------------Стили для блочных и строчных тегов--------------------------------------------------------------------------------------------------------------------------*/
/*Не работают на строчные теги: 'width', 'height', 'margin', 'padding', 'border'(работает для картинок).*/
.example {
/*Внутренние отступы.*/
  padding: 10px 20px 30px 5px; /*(сверху, справа, снизу, слева), (сверху, слева и справа, снизу), (сверху и снизу, слева и справа), (со всех сторон).
                                 свойство работает только для блочных тегов, не может иметь отрицательных значений, можно указывать в процентах от ширины родителя.*/

/*Внешние отступы.*/
	margin: 20px;
	margin: 0px auto; /*блочный элемент ограниченной ширины выстроится по центру браузера.*/
	margin-top: -20px;

/*Размеры для блока.*/	
	width: 500px; /*ширина.*/
	width: 100vw; /*ширина в процентах от максимальной ширины экрана.*/
	width: 100%; /*ширина в процентах от родителя.*/
	height: 300px; /*высота.*/
	height: 100vh; /*высота в процентах от максимальной высоты экрана.*/
	height: 100%; /*высота в процентах от родителя.*/

/*Максимальные размеры блока.*/
	max-width: 500px; /*максимальная ширина.*/
	min-width: 500px; /*минимальная ширина.*/
	max-height: 500px; /*максимальная высота.*/
	min-height: 500px; /*минимальная высота.*/

/*Реакция на переполнение блока.*/
  	overflow: visible; /*по умолчанию, текст вылазит.*/
	overflow: hidden; /*скрывает все, что за пределами.*/
	overflow: scroll; /*добавляет полосу прокрутки, если вылазит за границы.*/

/*Отображение блока.*/
	display: none; /*убирает элемент, страница ведет себя, как будто его и не было.*/
	display: block; /*строчный тег блочным.*/
	display: inline; /*блочный тег строчным.*/
	display: inline-block; /*элемент строчный, но на него действуют все, что не действовало на inline(ширина, высота, рамка, margin, padding).*/


/*Позиционирование блока.*/
	position: static; /*по умолчанию.*/
	position: relative; /*для комбинации с 'top', 'bottom', 'left', 'right', 'z-index' для сдвига, а также делает блок родительским.*/
	position: absolute; /*блок вырывается из положения, место освобождается, ведет себя как строчный элемент.
  						  положение указывается относительно родительского блока(на котором позиция 'relative', а если такого нет, то относительно окна браузера*/
	position: fixed; /*относительно окна браузера + фиксирует его(при скролле будет оставаться на месте).*/
	position: sticky; /*прилипает к верху и тянется до следующего липокго при установке 'top:0'.*/
}
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/


/*----------------------Оформление для блочных и строчных---------------------------------------------------------------------------------------------------------------------------*/
.example-block{
/*Граница*/
	border: 1px solid #000; /*сплошная.*/
	border: 1px dotted #000; /*точками.*/
	border: 1px dashed #000; /*пунктирная.*/

/*Скругление углов.*/
	border-radius: 10px;

/*Граница, которая не сдавливает содержимое.*/
/*не работает 'border-radius', и нельзя указать для одной стороны.*/
/*для строчного тега будет огибать текст, а не блок.*/
	outline: 1px solid red;

/*Тень.*/
	box-shadow: 5px 5px 10px 15px #000; /*(по горизонтали, по вертикали, радиус тени, расстояние тени).*/
	box-shadow: 5px 5px 10px 15px #000, inset 5px 5px 10px 15px #000; /*добавляет тень внутрь блока.*/

/*Прозрачность.*/
	opacity: 0;  /*от 0 до 1.*/

/*Видимость блока.*/
	visibility: visible; /*значение по умолчанию.*/
	visibility: hidden; /*скрывает блок, но оставляет место под ним, с ним нельзя взаимодействовать.*/
}
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/


/*----------------------Другие юзабельные стили-------------------------------------------------------------------------------------------------------------------------------------*/
.example{
/*Маркировка списка. */
	list-style-type: none; /*убирает.*/
}
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/