/*Единицы измерения: px, em, rem, %, vw, vh, vmin, vmax, fr, ex, ch.
 бывают абсолютные и относительные.
 абсолютные - не зависит от значений других свойств.
 относительные - зависят от других свойств. */
.text{
    font-size: 16px; /*значение по умолчанию(нельзя увеличить шрифт в браузере).*/
    font-size: 1em; /*берет значение шрифта родителя(или браузера - 16px) и умножается на 1.*/
    font-size: 1rem; /*берет значение шрифта в теге html(или браузера) и умножает на 1, не наследуется.*/
    font-size: 100%; /*проценты от значения родителя.*/
    height: 1vh; /*процент от высоты окна браузераю.*/
    width: 1vw; /*процент от пишины браузера.*/
    height: 100vmin; /*100% от того что меньше(высота или ширина).*/
    height: 100vmax; /*100% от того что больше.*/
    font-size: 10fr; /*в грид.*/
    font-size: 10ex; /*единица относительно символа 'x'.*/
    font-size: 10ch; /*единица относительно символа '0'.*/
}
/*Доп инфа: 
 пиксели могут быть дробными.
 браузер по умолчанию ставит 16px.
 font-size наследуется потомками.
 % - если position - absolute, то процент берется от родителя(relative) */