/*----------------------FLEXBOX стили-----------------------------------------------------------------------------------------------------------------------------------------------*/
.example{
/*Flex-формат.*/
	display: flex; /*элементы выстроятся в линию, а сам контейнер занимает всю ширину экрана.*/
	display: inline-flex; /*элементы выстроятся в линию, а сам контейнер станет строчным.*/

/*Расположение элементов по главной оси.*/
	justify-content: flex-start; /*значение по умолчанию, все элементы вначале оси.*/
	justify-content: flex-end; /*все элементы вконце оси.*/
	justify-content: center; /*все элементы в центре оси.*/
	justify-content: space-between; /*одинаковое пространство между всеми элементами.*/
	justify-content: space-around; /*одинаковое пространство между началом, концом и элементами.*/
 
/*Расположение элементов по второстепенной оси.*/
	align-items: stretch; /*значение по умолчанию, подстраивание под самый высокий.*/
	align-items: flex-start; /*прижимает к верху и убирает подстраивание.*/
	align-items: flex-end; /*прижимает элементы к низу и убирает подстраивание.*/
	align-items: center; /*по центру.*/

/*Реакция элемента при уменьшении пространства.*/
	flex-wrap: nowrap; /*не будут переносится при уменьшении экрана.*/
	flex-wrap: wrap; /*перескакивают на новую строку, если не хватает места.*/
	flex-wrap: wrap-reverse; /*перескакиваются на другую строку меняя очередность в другую сторону.*/

/*Перезаписывает 'align-items' для отдельного flex-элемента.*/
	align-self: stretch; /*будет подстраиваться размером под остальные.*/
	align-self: flex-start; /*будет прижат к началу оси.*/
	align-self: flex-end; /*к концу.*/
	align-self: center; /*к середине.*/

/*Порядок вывода flex-элемента.*/
	order: 1;

/*Расстояние между элементами. */
	gap: 40px;

/*Размер элемента при уменьшении или увеличении экрана(указывается элементу в флекс-контейнере).*/
	flex-basis: 20%; /*базовый размер элемента будет 20%.*/
	flex-grow: 1; /*при установке 1, элемент будет занимать всю площадь контейнера, но минимальная его длина будет та, что указана в 'flex-basis'*/
	flex-shrink: 1; /*при установке 1, элемент получает возможность становиться меньше указанного значения в 'flex-basis' при уменьшении экрана.*/
	flex: 0 1 auto; /*заменяет предыдущие 3 свойства в одно(grow, shrink, basis).*/

/*Измененяет главную ось контейнера.*/
	flex-direction: row; /*элементы выстраиваются в ряд, главная ось x.*/
	flex-direction: row-reverse; /*элементы разворачиваются и стартуют с обратной стороны относительно оси x.*/
	flex-direction: column; /*элементы выстраиваются в колонку, главная ось y.*/
	flex-direction: column-reverse; /*элементы разворачиваются и стартуют с обратной стороны относителньо оси y.*/


/*Прибить footer к низу - изменить значение на 'column', добавить 3 элемента в контейнер и на 2 элемент дать свойство 'flex: 1 1 auto',
  1 элемент будет прибит к верху(header), последний к низу(footer), а средний(контент) будет занимать остальное свободное место.*/
}
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/