/*----------------------Импорт SCSS----------------------*/
@import "nullstyles.scss";  //Используется для импорта участка когда для более точного фокуса на разрабатываемом коде.


/*----------------------Синтаксис SCSS----------------------*/
.block{
  >p{   // Таким образом(>) помечается, что стили применятся к 'p' первой вложенности.
    
  }
  .block__text{

  }
}

.block{
  &:hover{  // Этот знак заменяет имя селектора.

  }
}

.block__text{
  .block &{  // Синтаксис, если этот класс вложен в разные классы, а мы хотим изменить только для одного('.block').

  }
}

.block{
  @media(max-width:992px){
    font-size: 40px;
  }
}


/*----------------------Переменные SCSS----------------------*/
$variable: 80px;  //Используются для задания значений стилям через переменные.


/*----------------------Шаблоны SCSS----------------------*/
// Шаблоны пишутся для того, чтобы потом его вставлять в нужные места без дублирования кода.
%dashedborder{
  border-bottom: 5px dashed black;
}

.link{
  @extend %dashedborder;
}
// Или
.dashedborder{
  border-bottom: 5px dashed black;
}

.link{
  @extend .dashedborder;
}


/*----------------------Миксины SCSS----------------------*/
// Миксины похожи на шаблоны-функции, в них можно описать шаблон и передавать параметры.
@mixin fontz($f){
  font-size: $f;
}

.link{
  @include fontz(100px);
}


/*----------------------Математика SCSS----------------------*/
.block{
  width: 300px / 960px * 100%;
}


/*----------------------Подключение шрифтов в SCSS----------------------*/
@import url('https://fonts.googleapis.com/css2?family=Alkatra&display=swap');

.text{
  font-family: 'Alkatra', cursive;
}


/*----------------------Комментарии SCSS----------------------*/
// Комментарии пишутся подобным образом и не показываются в выходном css-файле, а следовательно и в драузере.


